body{
    margin: 0;
    padding: 0;
    background-color: #181818;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
.header{
    background-color: #181818;
    position: sticky;
    top: 0;
    padding: 26px;
}
.logo{
    font-size: 32px;
}
.hlink{
    float: right;
    margin-top: 9.5px;
}
.welcome{
    clear: both;
    background-image: linear-gradient(135deg, #00d2ff,#3a47d5);
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 237px;
    padding-bottom: 237px;
    font-size: 32px;
}
.text{
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 20px;
    line-height: 150%;
}
.footer{
    background-color: #282828;
    text-align: center;
    padding: 24px;
    line-height: 150%;
}
#linkw{
    text-decoration: none;
    color: #ffffff;
}
#linkw:hover{
    text-decoration: underline;
}
#linkb{
    text-decoration: none;
    color: #0084ff;
}
#linkb:hover{
    text-decoration: underline;
}
.h2{
    font-size: 24px;
}
.h3{
    font-size: 20px;
}