*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #121212;
    color: #ffffff;
    font-size: 16px;
}
.navbar{
    padding: 0 0 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 24px;
}
.welcome{
    height: 512px;
    font-size: 32px;
    background: linear-gradient(135deg, #00ddff,#0033ff);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.list{
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 16px;
}
.footer{
    background-color: #181818;
}
.socials{
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    height: 1px;
    background-color: #242424;
}
.copyright{
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.blocklink{
    color: #ffffff;
    text-decoration: none;
    height: 64px;
    padding: 0 16px;
    transition: 125ms;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.blocklink:hover{
    background-color: #242424;
}
.linkb{
    color: #0033ff;
    text-decoration: none;
}
.h2{
    font-size: 24px;
}
.h3{
    font-size: 20px;
}