@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    height: 64px;
    padding: 0 0 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 24px;
}
.welcome{
    text-align: center;
    font-size: 32px;
    padding: 232px 0;
    background: linear-gradient(135deg, #00ddff,#0033ff);
}
.list{
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 24px;
}
.footer{
    background-color: #181818;
}
.socials{
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    height: 1px;
    background-color: #242424;
}
.copyright{
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blocklink{
    color: #ffffff;
    text-decoration: none;
    height: 64px;
    padding: 0 24px;
    transition: 250ms;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.blocklink:hover{
    background-color: #242424;
}
.linkb{
    color: #0033ff;
    text-decoration: none;
}
.linkb:hover{
    text-decoration: underline;
}
.h2{
    font-size: 24px;
}
.h3{
    font-size: 20px;
}